<div class="banner">
  <h1>List</h1>
</div>

<div class="container">
  <% @lists.each do |list|  %>
    <div class="co-12 colsm-6 col-md-4 mb-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=list.random_image%>)">
         <%= link_to list.name, list_path(list) %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "create a list", new_list_path, class: "btn btn-info" %>
