.banner {
  background-image: url(https://source.unsplash.com/1600x900/?movies);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position:relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner a {
  position:absolute;
  bottom: 0px;
  right: 0px;
  margin: 8px;
}

